*
{
    padding: 0;
    margin: 0;
    border: 0;
}

body
{
    font-size: 2.5vh;

    /*Disable Selection*/
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    /*Background*/
    background-image: url("res/bg.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

img
{
    height: auto;
    max-width: 100%;
}

#page
{
    height: 75vh;
    width: 100vh;
    border: 1vh solid black;
    margin: 5vh auto 0 auto;
    position: relative;
}

/*Board Elements*/

#board
{
    height: 75vh;
    width: 75vh;
    background-color: green;
    float: left;

    position: absolute;
    z-index: 1;
}

.tile
{
    height: 5vh;
    width: 5vh;
    /*float: left;*/
    position: absolute;
}

.clear{clear: both;}

/*Sidebar Elements*/

#sidebar
{
    height: 75vh;
    width: 25vh;
    background-color: saddlebrown;
    float: right;
}

#score
{
    height: 10vh;
    width: 20vh;
    background-color: #ad5a00;
    border: .5vh solid #572d00;
    margin: 3vh auto 0 auto;
}

#money
{
    height: 4vh;
    width: 20vh;

    padding-top: 1vh;
    color: white;
    text-align: center;
}

#health
{
    height: 4vh;
    width: 20vh;

    padding-top: 1vh;
    color: white;
    text-align: center;
}

#towerContainer
{
    height: 40vh;
    width: 20vh;
    background-color: #ad5a00;
    border: .5vh solid #572d00;
    border-bottom: 0;
    margin: 4vh auto 0 auto;
}

#deselectionBox
{
    height: 11vh;
    width: 20vh;
    background-color: #ad5a00;
    border: .5vh solid #572d00;
    border-top: 0;
    padding-top: 2vh;
    margin: 0 auto 0 auto;
}

/*Tower Stuff*/

.towerButton
{
    height: 8vh;
    width: 8vh;
    margin: .5vh .5vh 1vh .65vh;
    border: .5vh solid black;
    background-color: #000000;
    float: left;
}

.deselectButton
{
    height: 5vh;
    width: 8vh;
    background-color: darkred;
    border: .5vh solid white;
    margin: 0 auto 0 auto;
    clear: both;

    padding-top: 3vh;
    color: white;
    font-size:1.5vh;
    text-align: center;
}

#towerInfo
{
    height: 15vh;
    width: 25vh;
    background-color: grey;

    position: absolute;
    z-index: 2;
    visibility: hidden;

    top: 10vh;
    left: 10vh;
}

/*Enemy Stuff*/
.enemy
{
    height: 2vh;
    width: 2vh;
    background-color: #000000;
    position: absolute;
}